@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --background: 0, 0, 0;
    --whitetext: 255, 255, 255;
    --graytext: 161, 161, 169;
    --whiteground: 255, 255, 255;
}

* {
    @apply transition-colors duration-200;
}