@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:dark {
    --background: 0, 0, 0;
    --text: 255, 255, 255;
}

.light {
    --background: 255, 255, 255;
    --text: 0, 0, 0;
}